.container{
    width: 100%;
    max-width: 237px;
    height: 100%; 
}

.dropdown{
    width: calc(100% - 5px);
    position: relative;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 24px;
    background-color: var(--prim-bg);
    font-size: var(--font-small);
}

.mobile{
    display: none;
}

@media (max-width: 810px){
    .mobile{
        display: block;
    }
}