.item{
    position: relative;
    max-width: 320px;
    min-width: 230px;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 16px;
}

.item:hover{
    cursor: pointer;
    background-color: #F3F3F3;
}

.holder{
    position: relative;
    max-width: 349px;
    width: 100%;
    aspect-ratio: 1.5;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
}

.brand{
    font-size: var(--font-small);
    line-height: 22px;
    color: var(--text2); 
    margin: 5px 0;   
}

.info{
    display: flex;
    justify-content: space-between;
}

.info > div{
    flex: 1;
    margin: 5px;
    font-size: var(--text-mid);
    position: relative;
}

.colors{
    display: flex;
    width: 100px;
    margin: auto;
    justify-content: space-evenly;
}

.color{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.color:hover{
    border: 1px solid black;
}

.button{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 108px;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-weight: 600;
}

.button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.button:active{
    opacity: 1;
}

.button > span{
    display: none;
}

.item:hover .button{
    display: block;
}

.flex{
    display: flex;
}

@media (max-width: 810px){
    .item{
        padding: 2px;
        min-width: 140px;
        width: 45%;
    }

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brand{
        font-size: 10px;
    }

    .info > div{
        font-size: var(--font-small);
        position: initial;
    }

    .button{
        width: 40px;
    }

    .button > p{
        display: none;
    }

    .item .button{
        display: none;
    }

    .item:hover .button > span{
        display: block;
    }

    .button{
        position: absolute;
        bottom: 5px;
        right: 0;
    }
}